# SUYASH PRATAP SINGH

## Import modules

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Read and display test,train data

In [3]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [4]:
df_train.head()

,Id,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour
0,1,30,0,Non-Travel,Research & Development,2,3,Medical,571,3,...,3,0,12,2,11,7,6,7,4,1
1,2,36,0,Travel_Rarely,Research & Development,12,4,Life Sciences,1614,3,...,3,2,7,2,3,2,1,1,2,1
2,3,55,1,Travel_Rarely,Sales,2,1,Medical,842,3,...,3,0,12,3,9,7,7,3,5,1
3,4,39,0,Travel_Rarely,Research & Development,24,1,Life Sciences,2014,1,...,3,0,18,2,7,7,1,7,4,1
4,5,37,0,Travel_Rarely,Research & Development,3,3,Other,689,3,...,3,1,10,2,10,7,7,8,1,1

In [5]:
df_test.head()

,Id,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour
0,1,28,Travel_Rarely,Research & Development,9,3,Medical,377,4,Male,...,4,1,5,3,5,2,0,4,5,1
1,2,31,Travel_Rarely,Sales,6,4,Medical,653,1,Male,...,4,2,13,4,7,7,5,7,3,1
2,3,37,Travel_Rarely,Research & Development,6,3,Medical,474,3,Male,...,3,2,13,2,7,7,6,7,4,1
3,4,42,Travel_Rarely,Research & Development,1,2,Life Sciences,827,4,Female,...,3,1,8,4,4,3,0,2,5,1
4,5,45,Non-Travel,Research & Development,4,2,Life Sciences,972,3,Male,...,3,0,9,5,9,7,0,8,2,1

In [6]:
import sklearn
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
df_train['BusinessTravel'] = le.fit_transform(df_train['BusinessTravel'])
df_train['Department'] = le.fit_transform(df_train['Department'])
df_train['EducationField'] = le.fit_transform(df_train['EducationField'])
df_train['Gender'] = le.fit_transform(df_train['Gender'])
df_train['JobRole'] = le.fit_transform(df_train['JobRole'])
df_train['OverTime'] = le.fit_transform(df_train['OverTime'])
df_train['MaritalStatus'] = le.fit_transform(df_train['MaritalStatus'])

In [8]:
df_test['BusinessTravel'] = le.fit_transform(df_test['BusinessTravel'])
df_test['Department'] = le.fit_transform(df_test['Department'])
df_test['EducationField'] = le.fit_transform(df_test['EducationField'])
df_test['Gender'] = le.fit_transform(df_test['Gender'])
df_test['JobRole'] = le.fit_transform(df_test['JobRole'])
df_test['OverTime'] = le.fit_transform(df_test['OverTime'])
df_test['MaritalStatus'] = le.fit_transform(df_test['MaritalStatus'])

## Split and train model

In [9]:
x_train = df_train.drop('Attrition',axis=1)
y_train = df_train['Attrition']

In [10]:
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

In [11]:
logmod = LogisticRegression()
logmod.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## Predictions

In [12]:
predictions = logmod.predict_proba(df_test)[:,1]

In [13]:
predictions

array([0.01208108, 0.010207  , 0.03411493, 0.01342378, 0.00345171,
       0.00585857, 0.02451556, 0.00483406, 0.04373394, 0.00667176,
       0.00307958, 0.01214782, 0.00432103, 0.01026016, 0.00643295,
       0.02047622, 0.03594555, 0.02543464, 0.00715538, 0.00600591,
       0.00338454, 0.06309095, 0.00525556, 0.01706627, 0.01965157,
       0.01692076, 0.00523127, 0.00456882, 0.02959916, 0.04152786,
       0.02083445, 0.01925312, 0.03527997, 0.02932389, 0.00172269,
       0.01852118, 0.0048305 , 0.00145482, 0.03149707, 0.0211906 ,
       0.11260854, 0.01523191, 0.00602617, 0.01847705, 0.00240073,
       0.01147902, 0.02807493, 0.00821783, 0.00108484, 0.05086757,
       0.01743621, 0.01305055, 0.04824505, 0.05882326, 0.12673709,
       0.02031884, 0.01150205, 0.09199504, 0.00356721, 0.02237163,
       0.00802851, 0.01829087, 0.01329241, 0.01966203, 0.03026839,
       0.01552543, 0.04613466, 0.0250875 , 0.02386032, 0.04274029,
       0.08192271, 0.00691   , 0.01672977, 0.11222455, 0.02157484,
       0.07256587, 0.02806434, 0.03296732, 0.0543773 , 0.05128562,
       0.02328527, 0.03160419, 0.02059322, 0.00079701, 0.02421389,
       0.00543897, 0.03783021, 0.11872063, 0.01079779, 0.04377265,
       0.03594847, 0.00855548, 0.03842476, 0.01958909, 0.05107172,
       0.0499627 , 0.03057975, 0.01250829, 0.00719843, 0.01689394,
       0.03366098, 0.00666055, 0.02827479, 0.01062503, 0.03380044,
       0.02157163, 0.00723323, 0.12433425, 0.01897402, 0.00306346,
       0.01418666, 0.00564734, 0.05725921, 0.00287222, 0.00537644,
       0.01589431, 0.00598379, 0.01183254, 0.03705597, 0.01350594,
       0.07559141, 0.02242163, 0.03848943, 0.00868387, 0.2532652 ,
       0.00638782, 0.01795396, 0.32742464, 0.04000698, 0.01467172,
       0.01338031, 0.00466904, 0.00728776, 0.07609276, 0.01448023,
       0.01841518, 0.2000337 , 0.01103985, 0.02330096, 0.00762456,
       0.01209605, 0.01922652, 0.01467727, 0.0248439 , 0.03055787,
       0.0581871 , 0.02711749, 0.10412713, 0.03098781, 0.15996454,
       0.1707189 , 0.01138064, 0.01016488, 0.04824249, 0.04367958,
       0.03891447, 0.0271754 , 0.03598692, 0.01866531, 0.00708044,
       0.15023398, 0.04202825, 0.06664233, 0.01660204, 0.03167878,
       0.01433189, 0.23047126, 0.01712852, 0.01728097, 0.03831699,
       0.03730089, 0.00225245, 0.042777  , 0.13873215, 0.0122368 ,
       0.01840108, 0.01611781, 0.06812695, 0.18103412, 0.13418161,
       0.10681276, 0.03065705, 0.14839846, 0.00802677, 0.06396613,
       0.01300462, 0.00416602, 0.01641262, 0.0008561 , 0.01777539,
       0.21748723, 0.05690388, 0.00244447, 0.05700493, 0.1017989 ,
       0.05032989, 0.04974586, 0.04517593, 0.01180109, 0.04768068,
       0.05054174, 0.13707969, 0.13242134, 0.01145947, 0.04997846,
       0.02084504, 0.05751256, 0.07814332, 0.04772564, 0.07355091,
       0.12130772, 0.06630147, 0.03113168, 0.08256385, 0.22555709,
       0.04984121, 0.11766709, 0.03860209, 0.01776734, 0.01068648,
       0.13814069, 0.01816115, 0.10979596, 0.10862592, 0.09505846,
       0.02505269, 0.12027194, 0.01560062, 0.26349416, 0.03703502,
       0.24145559, 0.06153117, 0.09163599, 0.08822631, 0.00455033,
       0.09077657, 0.03713954, 0.01063631, 0.14587423, 0.17256302,
       0.01475057, 0.03193657, 0.02581627, 0.14283866, 0.02275534,
       0.00673696, 0.07414878, 0.01798228, 0.0038682 , 0.0104081 ,
       0.04653736, 0.02789819, 0.04262852, 0.01373339, 0.02667487,
       0.11959213, 0.04673962, 0.0780982 , 0.25224292, 0.04750447,
       0.02436801, 0.06350264, 0.12812226, 0.20207507, 0.09889481,
       0.01382982, 0.01789813, 0.09173735, 0.06720807, 0.00953993,
       0.01428785, 0.18312321, 0.36822025, 0.1021434 , 0.14701673,
       0.05405565, 0.11654597, 0.06541821, 0.03450991, 0.0201932 ,
       0.0151997 , 0.05539242, 0.01031752, 0.04693926, 0.04048453,
       0.37556946, 0.16228198, 0.08235931, 0.03681596, 0.14374718,
       0.27303836, 0.18129358, 0.11474855, 0.04324181, 0.00867899,
       0.02711295, 0.23347433, 0.03057076, 0.13299063, 0.0713647 ,
       0.07698512, 0.06185205, 0.13216104, 0.29553286, 0.02267607,
       0.05908351, 0.14103095, 0.15788795, 0.07391536, 0.07897294,
       0.02559276, 0.25469668, 0.04512527, 0.08961027, 0.05201609,
       0.15905573, 0.03432186, 0.1481672 , 0.09375359, 0.08835366,
       0.10623405, 0.09531207, 0.01628189, 0.02397631, 0.07416156,
       0.16031322, 0.24482313, 0.40584399, 0.17376097, 0.05074835,
       0.05389318, 0.29461799, 0.1659314 , 0.03132079, 0.10622948,
       0.01706364, 0.03312941, 0.06112189, 0.13637356, 0.11096738,
       0.45837408, 0.15276377, 0.00424737, 0.11792553, 0.21312697,
       0.17088739, 0.15545574, 0.02434919, 0.09846932, 0.05738596,
       0.02903133, 0.08354815, 0.23217508, 0.03727938, 0.04658875,
       0.11062048, 0.23352264, 0.00563351, 0.10120694, 0.1824198 ,
       0.06706076, 0.04738961, 0.0516088 , 0.1035665 , 0.27756095,
       0.05678935, 0.06025837, 0.17418623, 0.25659756, 0.13211837,
       0.08187287, 0.01137049, 0.04083131, 0.12744104, 0.06144409,
       0.0397242 , 0.16977384, 0.07042658, 0.13323375, 0.03031105,
       0.19961829, 0.06920881, 0.06106776, 0.06425869, 0.26623848,
       0.17929758, 0.43837702, 0.08396945, 0.41425859, 0.12497325,
       0.14332774, 0.03554929, 0.10383887, 0.1088425 , 0.03587   ,
       0.09696454, 0.12959539, 0.00391356, 0.01752005, 0.16639702,
       0.07068723, 0.05827856, 0.04411721, 0.17323104, 0.10439739,
       0.01948238, 0.08275697, 0.13340925, 0.06290268, 0.02803397,
       0.17973082, 0.11012215, 0.0618609 , 0.06455374, 0.0694532 ,
       0.00801965, 0.10642654, 0.57235918, 0.12175414, 0.13957378,
       0.63362525, 0.10704631, 0.030149  , 0.04275479, 0.10190788,
       0.03549723, 0.16725697, 0.32625384, 0.13016612, 0.04646829,
       0.0583669 , 0.27713725, 0.14290419, 0.00755754, 0.13134838,
       0.0246166 , 0.08475364, 0.02689399, 0.01578377, 0.11837516,
       0.28692183, 0.03575852, 0.04327039, 0.01822657, 0.02558413,
       0.07923296, 0.02948365, 0.60398847, 0.19347457, 0.07361098,
       0.15460473, 0.02619601, 0.33320375, 0.15097839, 0.19930353,
       0.05515958, 0.28115563, 0.16916485, 0.09802566, 0.0747659 ,
       0.02351118, 0.04551391, 0.56825371, 0.15931466, 0.18210494,
       0.15193701, 0.3689386 , 0.28762672, 0.34200657, 0.04631287])

In [14]:
df1 = pd.DataFrame(df_test['Id'],columns=['Id'])

In [15]:
df1.head()

   Id
0   1
1   2
2   3
3   4
4   5

In [16]:
df2 =pd.DataFrame(predictions,columns=['Attrition'])

In [17]:
df2.head()

   Attrition
0   0.012081
1   0.010207
2   0.034115
3   0.013424
4   0.003452

In [18]:
df_final = pd.concat([df1,df2],axis=1)

In [19]:
df_final

      Id  Attrition
0      1   0.012081
1      2   0.010207
2      3   0.034115
3      4   0.013424
4      5   0.003452
..   ...        ...
465  466   0.151937
466  467   0.368939
467  468   0.287627
468  469   0.342007
469  470   0.046313

[470 rows x 2 columns]

In [20]:
df_final = df_final.set_index('Id')

In [21]:
df_final.head()

    Attrition
Id
1    0.012081
2    0.010207
3    0.034115
4    0.013424
5    0.003452

In [22]:
df_final.to_csv('Submission1_U011P5R9NRK.csv')

## Using Randomforest Classifier

In [23]:
from sklearn.model_selection import train_test_split
x_train, cvx_test, y_train, cvy_test = train_test_split(x_train, y_train, test_size=0.2, random_state=420)

In [24]:

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(max_depth=10,n_estimators=200, criterion='entropy', random_state=420)
model.fit(x_train, y_train)
predict_train = model.predict_proba(x_train)[:,1]
predict_test  = model.predict_proba(cvx_test)[:,1]

model.score(cvx_test, cvy_test)

0.911042944785276

In [25]:
from sklearn.metrics import classification_report, confusion_matrix
confusion_matrix(cvy_test, model.predict(cvx_test))

array([[157,   3],
       [ 26, 140]], dtype=int64)

In [26]:
confusion_matrix(y_train, model.predict(x_train))

array([[683,   0],
       [  0, 619]], dtype=int64)

In [27]:
prediction = model.predict_proba(df_test)[:,1]

In [28]:
output = pd.Series(prediction)
output_final = pd.concat([df_test['Id'], output], axis=1)
output_final.columns=['Id', 'Attrition']
output_final.set_index('Id',inplace=True)
output_final.describe()

        Attrition
count  470.000000
mean     0.168210
std      0.132790
min      0.006138
25%      0.073234
50%      0.127562
75%      0.210048
max      0.741574

In [29]:
output_final

     Attrition
Id
1     0.120083
2     0.100939
3     0.113436
4     0.174687
5     0.071733
..         ...
466   0.368309
467   0.689066
468   0.340234
469   0.074351
470   0.076819

[470 rows x 1 columns]

In [30]:
output_final.to_csv('Submission2_U011P5R9NRK.csv')

## Simple neural network

In [85]:
import keras
from keras.models import Sequential
from keras.layers import Activation
from keras.layers.core import Dense
from keras.optimizers import Adam
from keras.metrics import binary_crossentropy

### Hyperparameters

In [91]:
activation_function = 'relu'
loss = 'binary_crossentropy'
hidden_units_layer_1 = 28
hidden_units_layer_2 = 32
output_units = 1
batch_size = 10
epochs = 25
learning_rate = 0.001

In [92]:
model = Sequential([
    Dense(hidden_units_layer_1, input_dim=28, activation=activation_function),
    Dense(hidden_units_layer_2, activation=activation_function),
    Dense(output_units, activation='sigmoid')
])
model.summary()

Model: "sequential_12"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_32 (Dense)             (None, 28)                812
_________________________________________________________________
dense_33 (Dense)             (None, 32)                928
_________________________________________________________________
dense_34 (Dense)             (None, 1)                 33
=================================================================
Total params: 1,773
Trainable params: 1,773
Non-trainable params: 0
_________________________________________________________________

In [93]:
optimizer = Adam(lr = 0.0001)

In [94]:
model.compile(optimizer, loss= loss, metrics=['accuracy'])

In [95]:
history = model.fit(x_train, y_train, validation_split=0.2, batch_size=batch_size, epochs=epochs, shuffle=True, verbose=2)

Train on 1041 samples, validate on 261 samples
Epoch 1/25
 - 0s - loss: 576.5354 - accuracy: 0.4697 - val_loss: 261.6982 - val_accuracy: 0.4981
Epoch 2/25
 - 0s - loss: 88.4715 - accuracy: 0.5130 - val_loss: 30.8311 - val_accuracy: 0.5441
Epoch 3/25
 - 0s - loss: 14.6890 - accuracy: 0.6196 - val_loss: 8.8544 - val_accuracy: 0.6245
Epoch 4/25
 - 0s - loss: 5.5520 - accuracy: 0.6830 - val_loss: 5.6700 - val_accuracy: 0.6705
Epoch 5/25
 - 0s - loss: 4.0768 - accuracy: 0.7166 - val_loss: 4.7602 - val_accuracy: 0.6973
Epoch 6/25
 - 0s - loss: 3.5984 - accuracy: 0.7406 - val_loss: 3.8413 - val_accuracy: 0.7050
Epoch 7/25
 - 0s - loss: 3.4512 - accuracy: 0.7397 - val_loss: 3.7946 - val_accuracy: 0.7241
Epoch 8/25
 - 0s - loss: 3.1718 - accuracy: 0.7426 - val_loss: 3.2116 - val_accuracy: 0.7126
Epoch 9/25
 - 0s - loss: 2.9110 - accuracy: 0.7493 - val_loss: 3.7358 - val_accuracy: 0.6897
Epoch 10/25
 - 0s - loss: 2.9591 - accuracy: 0.7445 - val_loss: 2.9348 - val_accuracy: 0.7318
Epoch 11/25
 - 0s - loss: 2.3746 - accuracy: 0.7570 - val_loss: 2.9712 - val_accuracy: 0.7471
Epoch 12/25
 - 0s - loss: 2.3505 - accuracy: 0.7656 - val_loss: 3.5642 - val_accuracy: 0.7318
Epoch 13/25
 - 0s - loss: 2.3242 - accuracy: 0.7550 - val_loss: 2.5345 - val_accuracy: 0.7318
Epoch 14/25
 - 0s - loss: 2.1305 - accuracy: 0.7646 - val_loss: 3.2079 - val_accuracy: 0.7318
Epoch 15/25
 - 0s - loss: 2.0412 - accuracy: 0.7675 - val_loss: 2.3726 - val_accuracy: 0.7586
Epoch 16/25
 - 0s - loss: 1.6551 - accuracy: 0.7858 - val_loss: 1.9162 - val_accuracy: 0.7663
Epoch 17/25
 - 0s - loss: 1.6920 - accuracy: 0.7839 - val_loss: 1.9527 - val_accuracy: 0.7969
Epoch 18/25
 - 0s - loss: 1.5271 - accuracy: 0.7877 - val_loss: 2.5618 - val_accuracy: 0.7586
Epoch 19/25
 - 0s - loss: 1.4160 - accuracy: 0.7935 - val_loss: 1.8568 - val_accuracy: 0.7739
Epoch 20/25
 - 0s - loss: 1.2645 - accuracy: 0.7973 - val_loss: 1.9909 - val_accuracy: 0.7433
Epoch 21/25
 - 0s - loss: 1.1509 - accuracy: 0.7906 - val_loss: 1.7355 - val_accuracy: 0.8008
Epoch 22/25
 - 0s - loss: 2.0938 - accuracy: 0.7406 - val_loss: 1.8066 - val_accuracy: 0.7816
Epoch 23/25
 - 0s - loss: 1.3137 - accuracy: 0.7867 - val_loss: 1.7227 - val_accuracy: 0.8123
Epoch 24/25
 - 0s - loss: 1.2844 - accuracy: 0.7781 - val_loss: 1.7161 - val_accuracy: 0.8084
Epoch 25/25
 - 0s - loss: 0.9904 - accuracy: 0.8165 - val_loss: 1.8134 - val_accuracy: 0.7893

In [97]:
predictions1 = model.predict_classes(df_test,batch_size=100,verbose=0)

# THANK YOU